.home {
  height: calc(100% - 60px);
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 60px; 
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 2px 3px 5px #f6f6f7;
  padding-top: 60px;
}

.main-content {
  margin-left: 300px; 
  padding: 1em;
  overflow: hidden; 
}

.card {
  border: none;
  width: 100%;
}

.link {
  color: black;
  font-size: large;
  font-weight: bold;
}

.link:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.li {
  border: none;
}

.navbar {
  padding-right: 15px;
}

.d-grid {
  padding-left: 15px; 
  padding-right: 15px; 
}
