.home {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
  box-shadow: 2px 3px 5px #f6f6f7;
}

.card {
  border: none;
  width: 100%;
}

.link {
  color: black;
  font-size: large;
  font-weight: bold;
}

.link:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.li {
  border: none;
}
