.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles for the portfolio table */
.portfolio-summary {
  margin-bottom: 20px;
}

.stock-breakdown {
  margin-bottom: 10px;
}

/* Styles for positive and negative changes */
.positive-change {
  color: #28a745 !important; /* Green for positive values */
}

.negative-change {
  color: #dc3545 !important; /* Red for negative values */
}

/* Styles for table */
.table {
  margin-top: 20px;
}